/* Add your custom styles here */

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-image: url(../images/bg_image.png);
  background-position: center;
  background-size: cover;
  min-height: 75%;
  font-family: pixelfont;
}

.menu {
  display: none;
}

